{% extends 'base.html' %}

{% block content %}

{% with title="Soon", waveFill="#202020" %}
{% include "components/section-header.html" %}
{% endwith %}
<section id="top">
    <div class="container">
        <h3 class="section-titre">Coming Soon™</h3>
        <div class="row">
            <div class="col-md-8">
                <p>Cette page est en cours de développement.</p>
                <p>Vous souhaitez peut-être retourner sur une de ces pages :</p>
                <ul>
                    <li><a href="{{ url_for('home.index') }}">Page d'accueil</a></li>
                    <li><a href="{{ url_for('simple.contact') }}">Page de contact</a></li>
                </ul>
            </div>
            <div class="col-md-4 d-flex justify-content-center">
                <img class="logo-top" src="{{ url_for('static', filename='img/pages/comingsoon/') }}page-not-found.png" alt="RedCraft logo question mark">
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/pages/comingsoon.scss.css') }}" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock %}